@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: black; */
  font-family: "Inter", sans-serif;
}
.header-banner-container {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 1) 100%
  );
}
.header,
.banner,
.all-content {
  width: 1060px;
  margin: 0 auto;
}
/* header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 32px;
}
.header h2 {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}
.navbar ul {
  display: flex;
  gap: 47px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 0;
  border-radius: 39px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  padding: 8px 20px;
}
.active a {
  background: rgb(230, 83, 60);
  border-radius: 46px;
}

/* banner style */
.banner {
  display: flex;
  gap: 77px;
}
.banner-left {
  width: 50%;
}
.banner-left h2 {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  margin-top: 96px;
  /* line-height: 120%; */
}
.banner-left p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 28px 0;
}
.banner-left-buttons {
  display: flex;
  gap: 14px;
}
.banner-left-buttons button {
  padding: 16px 40px;
  border-radius: 42px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  /* background: transparent; */
}
.join-club-btn {
  background: rgb(230, 83, 60);
  border: none;
}
.download-app-btn {
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
}
.banner-right {
  width: 50%;
  text-align: center;
  position: relative;
}
.banner-right img {
  width: 80%;
}
.workout-videos {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 13px;
  letter-spacing: 1px;
  width: 192px;
  padding: 20px;
  text-align: left;
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 140px;
}
.workout-videos-numbers {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
}
.video-tutorial {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(3px);
  background: rgba(48, 48, 48, 0.54);
  width: 40%;
  padding: 20px;
  text-align: left;
  position: absolute;
  bottom: 80px;
  left: -50px;
}
.video-tutorial-circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
.video-tutorial-text {
  color: rgba(239, 237, 232, 0.65);
  letter-spacing: 0.5px;
}
.video-tutorial-numbers {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 900;
}

/* main-content style */
.main-content {
  background-color: #000000;
}
.change-habit-section {
  padding: 100px 0;
  text-align: center;
}
.change-habit-header h2,
.run-extra-left h2 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
}
.change-habit-header p,
.run-extra-left p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding-top: 15px;
  padding-bottom: 58px;
}
.change-habit-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.change-habit-cards img {
  border-radius: 50%;
}
.change-habit-cards h4 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 6px;
}
.change-habit-cards p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
}
.run-extra-mile-section {
  display: flex;
  gap: 10%;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.run-extra-left {
  width: 50%;
  padding-top: 20px;
  padding-left: 40px;
}
.run-extra-left p {
  padding-top: 10px;
  padding-bottom: 20px;
}
.run-extra-right {
  width: 40%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 30px;
}
.run-extra-right img {
  width: 100%;
  border-radius: 18px;
}
.join-now-btn {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 12px 40px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
